:root {
	--primary-text-color: #2e2f42;
	--title-text-color: #434455;
	--button-text-color: #4d5ae5;
	--button-hover-color: #404bbf;
	--button-filter-color: #e7e9fc;
	--background-section-color: #f4f4fd;
	--background-color: #ffffff;
}

body {
	background-color: var(--background-color);
	color: var(--title-text-color);

	font-family: 'Roboto', sans-serif;
	font-weight: 400;
	font-size: 16px;
	line-height: 1.5;
	letter-spacing: 0.02em;
}

/* logo */
.logo {
	color: var(--primary-text-color);
	text-decoration-line: none;

	font-family: 'Raleway', sans-serif;
	font-weight: 800;
	font-size: 18px;
	line-height: 1.33;
	letter-spacing: 0.03em;
	text-transform: uppercase;
}
.logo-web {
	color: var(--button-text-color);
}
.logo:hover,
.logo:focus {
	color: none;
}

/* навігація по сайту */
.site-nav .link {
	color: var(--primary-text-color);
	text-decoration-line: none;

	font-weight: 500;
}

.site-nav .link:hover,
.site-nav .link:focus {
	color: var(--button-hover-color);
}
/* address */
.list {
	list-style: none;
}

.address {
	font-style: normal;
}

.address-link {
	color: var(--title-text-color);
	text-decoration-line: none;
}

.address-link:hover,
.address-link:focus {
	color: var(--button-hover-color);
}

/* hero */
.hero {
	background-color: var(--primary-text-color);
	color: var(--background-color);
}

.hero-titel {
	font-weight: 700;
	font-size: 56px;
	line-height: 1.07;
}

.hero-button {
	background-color: var(--button-text-color);
	color: var(--background-color);
	cursor: pointer;
	font-weight: 500;
	font-size: 16px;
	line-height: 1.5;
	letter-spacing: 0.04em;
}

.hero-button:hover,
.hero-button:focus {
	background-color: var(--button-hover-color);
}

/* section */

.title {
	display: none;
}

.feature-title {
	font-weight: 500;
	font-size: 20px;
	line-height: 1.2;
}

.feature-list {
	list-style: none;
}

.feature-list .title {
	color: var(--primary-text-color);
}

/* what are we doing */
.section-title {
	color: var(--primary-text-color);
	text-transform: capitalize;
	font-weight: 700;
	font-size: 36px;
	line-height: 1.11;
}

.team-title {
	font-weight: 500;
	font-size: 20px;
	line-height: 1.2;
}

/* our team */
.team {
	background-color: var(--background-section-color);
}

.team-card {
	background-color: var(--background-color);
	list-style: none;
}

.team-list .team-card:hover,
.team-list .team-card:focus {
	color: none;
}

.team-person {
	text-decoration-line: none;
	color: var(--primary-text-color);
}

.team-text {
	color: var(--title-text-color);
}

/* portfolio */
.portfolio-button {
	background-color: var(--background-section-color);
	color: var(--button-text-color);
	cursor: pointer;
	font-weight: 500;
	font-size: 16px;
	line-height: 1.5;
	letter-spacing: 0.04em;
	font-family: inherit;
}

.portfolio-button:hover,
.portfolio-button:focus {
	background-color: var(--button-hover-color);
	color: var(--background-color);
}

.portfolio-list,
.portfolio-section {
	list-style: none;
}

.portfolio-title {
	color: var(--primary-text-color);
	text-transform: capitalize;
	font-weight: 500;
	font-size: 20px;
	line-height: 1.2;
}

.footer {
	background-color: var(--primary-text-color);
	color: var(--button-filter-color);
}

.footer-logo {
	color: var(--background-section-color);
	text-decoration-line: none;

	font-family: raleway, Sans-serif;
	font-weight: 800;
	font-size: 18px;
	line-height: 1.33;
	letter-spacing: 0.03em;
	text-transform: uppercase;
}

.footer-web {
	color: var(--button-text-color);
}

.footer-logo:hover,
.footer-logo:focus {
	color: none;
}

.footer-text {
	color: var(--button-filter-color);
	font-family: 'Roboto', sans-serif;
}
